body{
    background-color: rgb(224, 214, 203);
    display: flex;
    font-size: 30px;
    flex-direction: row;
    justify-content: space-between;
}
 div{
        border: 1px solid rgb(252, 173, 173);
        border-radius: 10px
    }