body{
    background: rgb(233, 183, 211);
}
#header {
    position: fixed; /* Фіксована позиція */
    top: 0; /* Встановлення верхньої межі */
    left: 0; /* Встановлення лівої межі */
    width: 100%; /* Розтягнути заголовок на всю ширину сторінки */
    height: 150px; /* Встановлення висоти заголовка */
    text-align: center;
    background-color: rgb(143, 67, 67); /* Додавання чорного колору фону */
    padding: 0px 0; /* Додатковий внутрішній відступ для тексту від меж заголовка */
    margin: 0 auto; /* Центрування заголовка на сторінці */
}
#header img {
    
    width: 400px; /* Нова ширина */
    height: 600px; /* Автоматична висота, щоб зберегти пропорції */
    margin-bottom: 10px; /* Додатковий відступ знизу, щоб відокремити текст від зображення */
    border-radius: 10%; /* Задаємо радіус для створення кружечка */
    overflow: hidden; /* Обрізаємо контент за межами контейнера */
}
#header p {
    font-family: 'Arial Narrow', sans-serif; /* Шрифт */
    font-size: 40px; /* Розмір шрифту */
    color: #701e1e; /* Колір тексту */
    font-weight: bold; /* Жирний шрифт */
} 